*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "poppins";
  overflow: hidden;
  animation: landing 1s ease-in-out;
}

nav {
  height: 12vh;
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  padding-top: 2rem;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  max-height: 90vh;
  overflow: hidden;
  justify-content: center;
}

.container {
  margin-top: 2rem;
  background: #a5de96;
  width: 80%;
  height: 75vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2rem;
  color: #454545;
  font-weight: 500;
}

.leaf {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  animation: leaf-shake 2s ease-in-out infinite alternate-reverse;
  transform-origin: bottom;
}

.menu {
  cursor: pointer;
}

.container h1 {
  font-size: 15rem;
  font-weight: 500;
  color: white;
  line-height: 1;
}

.container h2 {
  font-size: 2.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}

.button-section {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-section a {
  color: white;
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  border: 2px solid white;
  white-space: nowrap;
  margin: 0 1rem;
}

.button-section #red {
  padding: 0.2rem 1.6rem;
}

@keyframes landing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1680px) {
  .leaf {
    width: 60%;
    right: -7%;
  }
  nav ul {
    z-index: 1;
  }
}

@media (max-width: 930px) {
  .container h1 {
    font-size: 10rem;
  }
}

@media (max-width: 740px) {
  .container h1 {
    font-size: 8rem;
    padding: 1rem;
  }

  header {
    margin-bottom: 2rem;
  }

  .container h2 {
    font-size: 2rem;
  }

  .container a {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .container h2 {
    font-size: 1.8rem;
  }

  .container a {
    font-size: 0.8rem;
  }
}

@media (max-width: 580px) {
  .button-section {
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .button-section #red {
    padding: 0.2rem 1.75rem;
  }

  .button-section #green {
    padding: 0.2rem 1.2rem;
  }

  .menu {
    width: 80%;
  }

  .leaf {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .container h1 {
    font-size: 6rem;
  }

  .container h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 80%;
  }
}
